body {
    background-color: rgb(111, 85, 131);
  }

  h1 {
    color:aliceblue;
  }

  p {
    color: rgb(170, 187, 198);
  }

  ul {
    list-style-type: none;
  }

  a {
    color: rgb(59, 36, 76);
  }