body {
    background-color: rgb(111, 85, 131);
  }

  h1 {
    color:aliceblue;
  }

  p {
    color: rgb(170, 187, 198);
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
  }

  a {
    color: rgb(59, 36, 76);
    border-style: double;
    padding: 10px;
    margin: 6px;
  }

  li a:hover {
    background-color: #d3adf3;
  }

  nav {
    border-style: dotted;
    color: rgb(59, 36, 76);
    margin: 10px;
    
  }